USE [AdventureWorks2014]
GO
/*
<Documentation Version="2.0">
    <Info>
        <Application>Adventure Works App</Application>
        <Module>Accounting</Module>
        <Maintainer>snevarez</Maintainer>
        <Description>Get all person data</Description>
        <CreatedDate>2025-01-01</CreatedDate>
    </Info>
    <Log>
        <Change
            Date="2025-03-01"
            Author="system"
            Type="US"
            Ticket="250756">
            	Get all person data
        </Change>
        <Change
            Date="2025-07-03"
            Author="snevarez"
            Type="US"
            Ticket="258750">
            	Enter the name of each column and remove the * symbol
        </Change>
    </Log>
</Documentation>
*/ 
CREATE PROCEDURE [dbo].[uspGetAllPerson]
AS
BEGIN
   
    SELECT
        BusinessEntityID
        ,PersonType
        ,NameStyle
        ,Title
        ,FirstName
        ,MiddleName
        ,LastName
        ,Suffix
        ,EmailPromotion
        ,AdditionalContactInfo
        ,Demographics
        ,rowguid
        ,ModifiedDate
    FROM [Person].[Person];

END;