USE [AdventureWorks2014]
GO

CREATE PROCEDURE [dbo].[uspGetAllPerson]
AS
/******************************************************
<Author></Author>
<app>Adventure Works App</app>
<Description>
   Get all person data
</Description>
<USs>250756</USs>
<ChangeLog>
    <log Date="2025-03-01" Author="">Get all person data</log>
    <log Date="2025-07-03" Author="snevarez">US258750:Enter the name of each column and remove the * symbol </log>
</ChangeLog>
******************************************************/
BEGIN
   
    SELECT
        BusinessEntityID
        ,PersonType
        ,NameStyle
        ,Title
        ,FirstName
        ,MiddleName
        ,LastName
        ,Suffix
        ,EmailPromotion
        ,AdditionalContactInfo
        ,Demographics
        ,rowguid
        ,ModifiedDate
    FROM [Person].[Person];

END;